.details {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 4vh;
  box-sizing: border-box;
  text-align: center;
  padding: 8vh 20vw;
  border-radius: 5px;
  background-color: rgb(239, 241, 241);

  &__date {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;

    > button {
      margin-left: 4px;
    }
  }

  > button {
    margin-top: 8px;
    border: none;
    background-color: #a8b054;
    border-radius: 5px;
    padding: 8px 20px;
    margin-left: 4px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 6vh 5vw;
  }
}

button {
  &:hover,
  &.active {
    opacity: 0.7;
  }
}
