.app {
  position: relative;
  background-color: #e0dede;
  display: flex;
  flex-direction: column;

  .app__get-info {
    text-align: center;
    font-size: 20px;
  }
}

.App .success {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(46, 19, 167);
}
