.bet {
  display: flex;
  min-width: 55vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 247, 248);
  border-radius: 5px;
  margin-bottom: 1.5vh;
  text-decoration: none;
  color: black;
}
